{% extends 'base.html' %} 
{% block content %}
<div class="container">
  <h5 class="my-3 border-bottom pb-2">Write a Post</h5>
  <form enctype="multipart/form-data" method="POST" class="post-form my-3" data-ajax="false">
    {% csrf_token %} 
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      {% for field in form %} 
      {% if field.errors %}
      <strong>{{field.label}}</strong>
      {{field.errors}} 
      {% endif %} 
      {% endfor %}
    </div>
    {% endif %}

    <div class="form-group">

      <label for="title">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        value="{{form.title.value|default_if_none:''}}"
        placeholder="Post Title"
      />
    </div>

    <div class="form-group">

      <label for="slug_title">Slug Title</label>
      <input
        type="text"
        class="form-control"
        name="slug_title"
        id="slug_title"
        value="{{form.slug_title.value|default_if_none:''}}"
        placeholder="Title for Slug"
      />
    </div>

    <div class="form-group">

        <label for="category">Category</label>
        <select 
        name="category"
        class="form-control"
        id="category">
            <option value="Diary"
            selected="selected">
                Diary
            </option>
            <option value="Career">
                Career
            </option>
            <option value="Relationship">
                 Relationship
            </option>
            <option value="Travel">
                 Travel
            </option>
        </select>
    </div>

    <div class="form-group">

        <label for="label">Label</label>
        <select 
        name="label"
        class="form-control"
        id="label">
            <option selected="selected" value="">None</option>
            <option value="Korean">
                Korean
            </option>
            <option value="Notice">
                Notice
            </option>
            <option value="English">
                English 
            </option>
            <option value="French">
                French
            </option>
        </select>
    </div>
    <div class="form-group">
      <label for="imgsrc">Image URL</label>
      <input type="text" 
      name="imgsrc"
      class="form-control"
      id="imgsrc"
      value="{{form.imgsrc.value|default_if_none:''}}"
      placeholder="Image URL">  
      </input>
    </div>
    
    <div class="form-group">
      <label for="image">Image Upload</label>
      <input type="file"
      name="image"
      class="form-control"
      style="height: auto"
      id="image"> 
      </input>
    </div>  
    
    <div class="form-group">
      <label for="contents_short">Contents 1</label>
      <textarea
        name="contents_short"
        class="form-control"
        id="contents_short"
        rows="10"
        placeholder="Short Contents"
      >{{form.contents_short.value|default_if_none:''}}</textarea>
    </div>
    <div class="form-group">
      <label for="contents_long">Contents 2</label>
      <textarea
        name="contents_long"
        class="form-control"
        id="contents_long"
        rows="30"
        placeholder="Long Contents"
      >{{form.contents_long.value|default_if_none:''}}</textarea>
    </div>
    <button type="submit" class="btn waves-effect aqua-gradient text-white">Submit Post</button>
  </form>
</div>

{% endblock %}
